{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <h2 class="mt-4 mb-3 text-center text-white">About Us</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
        <h3 class="mb-4 text-white">Our Mission</h3>
        <p class="text-white">
          For the Gamers, by the Gamer <br>
          Compete with other gamers and win prizes<br>
          GamePlat is a platform for gamers to find other gamers to compete with.<br>
          Make custom teams and tournaments.<br>
        </p>
      </div>
    </div>
</div>
{% endblock content %}
