{% extends 'base.html' %}

{% block content %}
<div class="container py-5 d-flex justify-content-center">
    <div class="card bg-dark text-white card-custom-size" >
        <div class="card-header text-center">
            <h3>Create a New Team</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'teams:team_create' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Team Name" required>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mt-3">Create Team</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
