.team-card-layout {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}

.slide-out-menu.show {
    background-color: #0A0E17;
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: 12px;
    }
    button {
        height: 25px;
        width: 110px;
    }
    h5 {
        font-size: 12px;
    }
    p {
        font-size: 10px;
    }    
}
